.wrapper {
	background-color: #3FC1C9;
	width: 330px;
	border-radius: 5px;
	padding: 15px 17px;
	height: max-content;
}

.filter {
	h2 {
		margin: 12px 0;
		color: #ffffff;
		font-weight: 500;
	}
}

.filtersTitle {
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 800;
}

.datePicker {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	height: 36px;
	border: 1px solid #BABABA;
	border-radius: 3px;
	//	color: #808080;
}